<div class="jumbotron text-center">
  <div class="container">
    <div class="d-flex flex-nowrap justify-content-center">
      <div class="col-md-4" [ngStyle]="{'flex':flex}">
        <div class="card mb-4 box-shadow">
          <app-people [users]="users$ | async" [display]="disp" (select)="onSelectUser($event)" ></app-people>
        </div>
      </div>
      <div class="col-md-4" *ngIf="selected">
        <div class="card mb-4 box-shadow">
          <app-about [user]="selectedUser$ | async" (open)="OpenMessage()"></app-about>
        </div>
      </div>
      <div class="col-md-4" *ngIf="open">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <app-history [messages]="selectedMessages$ | async"></app-history>
            <app-messages (send)="sendMessage($event)"></app-messages>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


